
@media (min-width: 375px) and (max-width: 812px){
    body{
        color: rgb(243, 243, 243);
        background-image: url('../img/background.png');
        background-size: 150%; 
        background-repeat: no-repeat;
        max-width: 375px;
        min-width: 375px;
        background-blend-mode: darken;
    }

    button{
        height: 150px;
        
    }

    .image {
        width: 350px;
        display: block;
      }
}